.player-wrapper {
  position: relative;
  padding-top: 56%; /* Player ratio: 100 / (1280 / 720) */
  margin-bottom: 5rem;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 5rem;
}
